datasets/*
question-answering/output/*
question-answering/output-adam/*
question-answering/output-rmsprop/*
question-answering/output_test/*
question-answering/__pycache__/*
question-answering/cached_train_biobert-base-cased-v1.1_384
question-answering/cached_dev_output_384
question-answering/cached_dev_output-adam_384
question-answering/cached_dev_output-rmsprop_384
question-answering/runs/*

# vscode
.vscode/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/